<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["table"]});
      google.setOnLoadCallback(drawTable);

      function drawTable() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Title');
        data.addColumn('string', 'Author');
{% for post in posts %}
	data.addRow(['{{ post.title }}', '{{ post.author }}']);
{% endfor %}
        data.addRows([
          ['Mike',  'hello'], 
          ['Jim',   'world'],
          ['Alice', 'whats'],
          ['Bob',   'up']
        ]);

        var table = new google.visualization.Table(document.getElementById('table_div'));

        table.draw(data, {showRowNumber: true});
      }
    </script>

<div id="table_div"></div>

{% endblock %}
